<html>
    <head>
        <title>Django Girls Blog</title>
    </head>
    <body>
        <div>
            <h1><a href='/'>Django Girls Blog</a><h1>
        </div>

        <div>
            <p>published: 14.06.2016, 12:22</p>
            <h2><a href>My first post</a></h2>
            <p>To jest pierwszy post w Django.</p>
        </div>

        <div>
            <p>published: 15.06.2016, 13:33</p>
            <h2><a href=''>My second post</a><h2>
            <p>To jest drugi post w Django.</p>
        </div>
    </body>
<htlm>
